<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="RiversideLocalTrunk" connectionString="Server=localhost;Database=RiversideLocalTrunk;Trusted_Connection=True;" providerName="System.Data.SqlClient" />
    <!-- <add name="RiversideDevProdOnsite" connectionString="Server=IPTMS-SQL-CONV1\SQL2016;Database=CA-Riverside-DevProd; User Id=; Password=" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="ConnectionStringName" value="RiversideLocalTrunk"/>
    <!--<add key="ConnectionStringName" value="RiversideDevProdOnsite"/>-->
  </appSettings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>